{% extends 'base.html' %}
{% load static %}
{% block title %}
Brain Tumor Detection
{% endblock %}

{% block home %}active{% endblock %}

{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url({% static 'img/slide/slide-1.jpg' %})">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">
                                Detecting and Diagnosing Brain Tumor MRI Image
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </section><!-- End Hero -->


    

    <main id="main">

        

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services section-bg">
            <div class="container">

                <div class="row no-gutters">
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-laptop"></i></div>
                            <h4 class="title"><a href="">Machine Learning</a></h4>
                            <p class="description">
                                Machine learning (ML) is a type of artificial intelligence (AI) that allows software
                                applications to become more accurate at predicting outcomes without being explicitly
                                programmed to do so.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-graph-up"></i></div>
                            <h4 class="title"><a href="">Data Science</a></h4>
                            <p class="description">Data science is a process that empowers better business decision
                                making through interpreting, modeling, and deployment.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-cpu-fill"></i></div>
                            <h4 class="title"><a href="">Artificial Intelligence</a></h4>
                            <p class="description">Artificial intelligence is the simulation of human intelligence
                                processes by machines. Applications of AI include
                                expert systems, natural language processing, speech recognition and machine vision.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Featured Services Section -->
    </main>
    <!-- End #main -->
{% endblock %}